body{
	margin: 0;
	font-family: helvetica;
	background-color: #D23333;
}
h1{
	color: white;
}

#logo{
	height: 100px;
	white-space: 100px;

}

#container{	
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}